---
---
<button id="menu-button" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  
  <style>
    button {
      border: none;
      background: transparent;
      padding: 0.5rem;
      cursor: pointer;
      display: none;
      z-index: 1001;
    }
    
    span {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px 0;
      background-color: var(--primary-color);
      transition: all 0.3s ease-in-out;
    }
  
    @media (max-width: 768px) {
      button {
        display: block;
      }
    }
  
    button.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    button.active span:nth-child(2) {
      opacity: 0;
    }
  
    button.active span:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  </style>
  